.footer__disclaimer{
    text-align: center;
    align-items: center;
    background-image: url(../recursos/fondo-gris.jpg);
    color: $color-principal;
    padding: 1.8%;
    font-family: $font-principal;
    }