@media (min-width: 320px) and (max-width: 540px) {

    /* index */
    .inicio {
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 1fr;
      grid-template-areas: "inicio__titulo "
      "portada__texto"
      "portada__texto2"; }
  
    .inicio__titulo {
      font-size: 2rem; 
    }
  
    /* sobre nosotros */
    .trayectoria__imagen {
      display: none; }
  
      .mision{
        .tittle{
            font-size: 3rem; 
            text-align: center;
            color: $color-principal;
            font-family: $font-principal;
            padding: 1%;
            margin-bottom: 3%;
        }
    }
  
    .trayectoria__subtitulo {
      font-size: 1.5rem;
    }
  
    .trayectoria {
      flex-direction: column-reverse;
     }
  
    .trayectoria__imagen {
      flex-direction: column; 
      }
  
    .imagen1 {
      width: 15rem; 
      }
  
    .mision__div {
      flex-direction: column; } 
  
    .mision__texto{
        font-size: 1.5rem;
    }
  
    .mision__subtitulo{
        font-size: 3rem;
    }
    
    /* productos */
    .img-fluid{
        width: 15rem;
    }
    /* contacto */
    .barra{
        width: 10rem;
    }
  
    .datos__input--contacto{
        align-items: center;
        width: 20rem;
    }
    .datos__nombre input{
        align-items: center;
        width:70%;
    }
  
    /* iniciar sesion */
    .main-inicio{
        .barra{
            width: 15rem;
        }
        .formulario{
            margin: auto;
            text-align: center;
            border-radius: 2%;
            padding:5rem;
            width: 18.5rem;
        }
    }
    
  }
  
  @media (min-width: 541px) and (max-width: 720px){
    /* index */
    .inicio{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr; 
        grid-template-areas: 
        "inicio__titulo "
        "portada__texto"
        "portada__texto2";
    }
    
    .inicio__titulo{
        font-size: 4rem;
    }
    /* sobre nosotros */
    .trayectoria__imagen{
        width: 15rem;
    }
  
    .tittle{
        font-size: 4rem;
    }
  
    .trayectoria__subtitulo{
        font-size: 2rem
    }
  
    .trayectoria{
        flex-direction: column-reverse;
    }
  
    .trayectoria__imagen{
        width: 15rem;
    }
    
    .mision{
       
        flex-direction: column;
        justify-content: center;
    }
  
    .mision__div{
        flex-direction: column;
  
    }
  
    .mision__subtitulo{
        font-size: 4rem;
    }
  
    .mision__texto{
        font-size: 1.5rem;
    }
  
    /* productos */
  
    .img-fluid{
        width: 25rem;
    }
  
    /* contacto */
    
    .datos__input--contacto{
        align-items: center;
        width: 25rem;
    }
  
    .datos__nombre input{
        align-items: center;
        width:70%;
    }
  
    .comentario{
        width: 50%;
    }
  
    /* iniciar sesion */
    .formulario{
        width: 16rem;
        margin-bottom: auto;
    }
  }