$color-fondo: rgb(49, 35, 35);
$color-hover: rgb(75, 75, 136);
$color-principal: white;
$color-btn: rgb(26, 146, 26);
$color-borde: black;
/* letra */
$font-principal: Arial, Helvetica, sans-serif;




