$color-fondo: rgb(49, 35, 35);
$color-principal: white;
$color-borde: black;
$color-card: rgb(48, 47, 47);
$color-boton: rgb(14, 88, 113);
$color-hover: rgb(255, 216, 216);
/* letra */
$font-principal: Arial, Helvetica, sans-serif;
$font-secundario: sans-serif;




