@import 'variables';
@import 'header';
@import 'footer';
@import 'mediaqueries';

*{margin: 0px;
  padding: 0px;
}
.bg-pink{
    text-align: right;
    padding: 1%;
    background-image: url(../recursos/fondo-gris.jpg);
        li{
            padding: 1%;
            display: inline;
            a {
            text-decoration: none;
            &:hover{
                color: $color-hover ;
            }
             }  
             .link-nav{
                color: white;
            }  
         }
    }    

       .inicio{
           display: grid;
           grid-template-columns: repeat(2, 1fr);
           grid-template-rows: 0.5fr 1fr; 
           grid-template-areas: 
           "inicio__titulo inicio__titulo"
           "portada__texto portada__texto2"
       ;
       &__titulo{
        grid-area: inicio__titulo;
        font-size: 5rem;
        text-align: center;
        color: $color-principal;
        font-family: $font-principal;
        margin: 2%;
       }

       &__grid{
        padding: 3%;
        align-items: center;
       }

       &__grid img{
        display: flex;
        align-items: center;
        width: 85%;
        height: 80%;
       }
       }
   
       .portada{
           grid-area: portada__texto;
           display: flex;
           flex-direction: column;
           color:  $color-principal;
           font-size: 2rem;
           text-align: center;
           margin: 0 0.5rem;
           animation-name: backInDown;
           animation-duration: 2s;

           &__parrafo{
            font-family: $font-principal;
            font-size: 1.5rem;
            grid-area: portada__parrafo;
            display: flex;
            text-align: center;
        }
     }
   
       .publicidad{
           grid-area: portada__texto2;
           display: flex;
           flex-direction: column;
           text-align: center; 
           color:  $color-principal;
           font-size: 2rem;
           margin: 0 0.5rem;
           animation-name: backInDown;
           animation-duration: 2s;

           &__titulo{
            font-size: 2rem;
            display: flex;
            flex-direction: column;
            text-align: center;
           }

           &__parrafo{
               font-size: 1.5rem;
           }
        }

       .footer__disclaimer{
           text-align: center;
           align-items: center;
           background-image: url(../recursos/fondo-gris.jpg);
           color: $color-principal;
           padding: 1.8%;
           font-family: $font-principal;
           }

    /* contacto */
    .datos{
        &__titulo{
            font-size: 2rem;
            color:  $color-principal;
            text-align: center;
            font-family: $font-principal;
            margin-bottom: 2%;
        }

        &__input--contacto{
            text-align: center;
            border-radius: 2%;
            margin: 0 auto;
            margin-bottom: 3rem;
            padding:5%;
            width: 35rem;
            background-color: $color-principal;
            border-style: solid;
            border-color: $color-borde;
        }

        &__nombre{
            font-family: $font-principal;
        }

        &__nombre input{
            margin: 3%;
            padding: 5%;
            width: 20rem;
        }
        .btn input{
            padding: 5%;
            width: 6rem;
            background-color: $color-btn;
            color: $color-principal;
            border-radius: 5%;
        }
    }

/* sobre-nosotros */

    .mision{
        .tittle{
            font-size: 4.5rem; 
            text-align: center;
            color: $color-principal;
            font-family: $font-principal;
            padding: 1%;
            margin-bottom: 3%;
        }

        &__div{
            display: flex;
            font-family: $font-principal;
            font-size: 2rem;
            color:  $color-principal;
            align-items: center;
            margin: 0 0.5rem;
            animation-name: backInLeft;
            animation-duration: 2s;
        }

        .imagen1{
            padding: 2%;
        }

        &__subtitulo{
            font-size: 5rem;
            text-align: center;
            padding: 5%;
        }

        &__texto{
            font-size: 2rem;
            text-align: center;
        }
    }
   
     .fondo{
        background-color: $color-fondo
    }

    .trayectoria{
        display: flex;
        justify-content: right;
        align-items: center;
        margin: 0 0.5rem;
        animation-name: backInRight;
        animation-duration: 2s;

        &__subtitulo{
            color:  $color-principal;
            text-align: center;
            font-size: 3rem;
        }

        &__parrafo{
            font-size: 1.5rem;
            color:  $color-principal;
            padding: 3%;
            font-family: $font-principal;
            text-align: center;
        }

        &__imagen{
            width: 25%;
        }
    }

/* iniciar sesion */
    .main-inicio{
        margin: 10%;

        .formulario{
            margin: auto;
            text-align: center;
            border-radius: 2%;
            padding:5rem;
            width: 30rem;
            background-color: $color-principal;
            border-style: solid;
            border-color: $color-borde;
        }

        .btn{
            border-color: $color-borde;
            background-color: $color-btn;
        }
    }

    /* productos*/
    /* .titulo__productos{
        color: black;
    }
    .producto1-card{
        display: flex;
        margin-bottom: auto;
        align-items: center;
        justify-content: center;
        padding-top: 15rem;
    }
    .boton{
        color: rgb(13, 1, 1);
        background-color: rgb(218, 186, 186);
        width: 10rem;
        height: 4rem;
        border-style: solid;
        border-radius: 2rem;
    } */
    .container{
        margin-bottom: 32px;
        &-parrafo{
            display: flex;
            align-items: center;
            justify-content: center;
            color: wheat;
        }
        .titulo__productos{
            color:  $color-principal;
            text-align: center;
            margin: 20px;
        }
        .img-fluid{
            display: flex;
            margin-bottom: auto;
            align-items: center;
            justify-content: center;
            padding-top: 15rem;
        }
        .boton{
            color: rgb(13, 1, 1);
            background-color: rgb(218, 186, 186);
            width: 10rem;
            height: 4rem;
            border-style: solid;
            border-radius: 1rem;}
    }


/* media */

@media (min-width: 320px) and (max-width: 540px) {

    /* index */
    .inicio {
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 1fr;
      grid-template-areas: "inicio__titulo "
      "portada__texto"
      "portada__texto2"; }
  
    .inicio__titulo {
      font-size: 3rem; 
    }
  
    /* sobre nosotros */
    .trayectoria__imagen {
      display: none; }
  
    .mision{
        .tittle{
            font-size: 3rem; 
            text-align: center;
            color: $color-principal;
            font-family: $font-principal;
            padding: 1%;
            margin-bottom: 3%;
        }
    }
    .trayectoria__subtitulo {
      font-size: 1.5rem;
    }
  
    .trayectoria {
      flex-direction: column-reverse;
     }
  
    .trayectoria__imagen {
      flex-direction: column; 
      }
  
    .imagen1 {
      width: 15rem; 
      }
  
    .mision__div {
      flex-direction: column; } 
  
    .mision__texto{
        font-size: 1.5rem;
    }
  
    .mision__subtitulo{
        font-size: 3rem;
    }
    
    /* productos */
    .img-fluid{
        width: 13rem;
    }
    /* contacto */
    .barra{
        width: 10rem;
    }
  
    .datos__input--contacto{
        align-items: center;
        width: 20rem;
    }
    .datos__nombre input{
        align-items: center;
        width:70%;
    }
  
    /* iniciar sesion */
    .main-inicio{
        .barra{
            width: 15rem;
        }
        .formulario{
            margin: auto;
            text-align: center;
            border-radius: 2%;
            padding:5rem;
            width: 18.5rem;
        }
    }
    
  }
  
  @media (min-width: 541px) and (max-width: 720px){
    /* index */
    .inicio{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr; 
        grid-template-areas: 
        "inicio__titulo "
        "portada__texto"
        "portada__texto2";
    }
    
    .inicio__titulo{
        font-size: 4rem;
    }
    /* sobre nosotros */
    .trayectoria__imagen{
        width: 15rem;
    }
  
    .tittle{
        font-size: 4rem;
    }
  
    .trayectoria__subtitulo{
        font-size: 2rem
    }
  
    .trayectoria{
        flex-direction: column-reverse;
    }
  
    .trayectoria__imagen{
        width: 15rem;
    }
    
    .mision{
       
        flex-direction: column;
        justify-content: center;
    }
  
    .mision__div{
        flex-direction: column;
  
    }
  
    .mision__subtitulo{
        font-size: 4rem;
    }
  
    .mision__texto{
        font-size: 1.5rem;
    }
  
    /* productos */
  
    .img-fluid{
        width: 25rem;
    }
  
    /* contacto */
    
    .datos__input--contacto{
        align-items: center;
        width: 25rem;
    }
  
    .datos__nombre input{
        align-items: center;
        width:70%;
    }
  
    .comentario{
        width: 50%;
    }
  
    /* iniciar sesion */
    .formulario{
        width: 16rem;
    }
  }

  /* map */

  $productos:(
    producto1: alambre-de-puas, 
    producto2: clavos, 
    producto3: clavo-paragua,
    producto4: tornillo-autoperforante,
    producto5: alambre-galvanizado,
    producto6: tornillo-madera,
    producto7: bulones,
    producto8: clavos-concreto,
    producto9: alambre-tejido);

  @each $producto, $products in $productos{
        .#{$producto}-card{
            background-image: url(../recursos/productos/#{$products}.png);
            background-size: cover;
            width: 20rem;
            height: 20rem;
            margin: 2rem;
            padding: 3rem;
            border-style: solid;
            border-color: $color-borde;
            border-radius: 2rem;
        }
  } 
      
  
 

   